---
interface Props {
    image: string;
    imageAlt: string;
    title: string;
    role: string;
}

const { image, imageAlt, title, role } = Astro.props;
---

<style lang="scss">
    @use '../../styles/variables/colors';
    @use '../../styles/variables/typography';

    div {
        background-color: colors.$primary-color;
        padding: 2rem;
        border-radius: 2rem;
        width: 400px;
        transition: transform 0.3s ease, background-color 200ms ease;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(1.02);
            background-color: colors.$logotype;
        }
        
        img {
            margin: auto;
            margin-bottom: 1rem;
            object-fit: cover;
            border-radius: 0.5rem;
            width: 300px;
            height: 300px;
            max-width: 100%;
        }

        h3 {
            margin-bottom: 1rem;
            font-size: typography.$size-3;
            font-weight: 400;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 1600px) {
        div {
            width: 100%;
            margin: auto;
        }
    }
</style>

<div>
    <!-- Fotos -->
    <img src={image} alt={imageAlt} />

    <!-- Título -->
    <h3>{title}</h3>

    <!-- Descripción -->
    <p>{role}</p>
</div>