---
interface Props {
    name?: string;
    amount?: string;
    imageUrl?: string;
}

const { name, amount, imageUrl } = Astro.props;
---

<style lang="scss">
    .cart {
        div {
            display: flex;
            gap: 1rem;
            border-radius: 1rem;
            border: 0.1rem solid hsl(0, 0%, 60%);
            max-width: fit-content;
            padding: 1rem 3rem;

            img {
                max-width: 100px;
            }

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
</style>

<div class="cart">
    <div>
        <img src={imageUrl} alt="Product" />
        <span>
            <h1>{name}</h1>
            <p>Cantidad: {amount}</p>
        </span>
    </div>
</div>
