---
import { integracionWhatsapp } from "../utils/integraciones.js";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <input type="text" name="" id="txt" />

        <button id="lol">test</button>

        <script>
            const button = document.getElementById("lol");
            const text = document.getElementById("txt");

            button.addEventListener("click", () => {
                integracionWhatsapp(text.value);
            });

            function integracionWhatsapp(mensaje) {
                window.open(
                    `https://api.whatsapp.com/send?phone=+51935463517&text=${mensaje}`,
                    "_blank"
                );
            }
        </script>
    </body>
</html>
