---
import Layout from "../layouts/Layout.astro";
import sachaJergonImg from "../assets/jergon-sacha-en-polvo-amazon-fruit-web.jpg";
---

<Layout title="Ver producto">
    <style lang="scss">
        @use "../styles/variables/metrics";
        @use "../styles/variables/colors";

        .container {
            max-width: metrics.$container-max-width;
            margin: 4rem auto;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-column-gap: 1rem;

            .text {
                .product-title {
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                .product-price-title {
                    font-size: 24px;
                    display: block;
                    margin-block-end: 1rem;
                }

                .product-about-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .product-about-description {
                    p {
                        margin-block-end: 1rem;
                    }
                }

                .buttons {

                    display: flex;
                    max-width: fit-content;
                    gap: 1rem; 

                    .button.button-add-cart {
                        display: block;
                        padding: 1rem;
                        max-width: fit-content;
                        margin: auto;
                        text-decoration: none;
                        background-color: colors.$primary-color;
                        color: colors.$black;
                        font-weight: 500;
                        border-radius: 10px;
                    }

                    .button.button-buy-now {
                        display: block;
                        padding: 1rem;
                        max-width: fit-content;
                        margin: auto;
                        text-decoration: none;
                        background-color: colors.$primary-color;
                        color: colors.$black;
                        font-weight: 500;
                        border-radius: 10px;
                    }
                }
            }

            aside {
                border: 2px solid #20202050;
                border-radius: 0.5rem;
                padding: 1.5rem;
                height: fit-content;

                .aside-status-title {
                    font-size: 18px;
                    font-weight: 500;
                    margin-block-end: 1.2rem;
                }

                .aside-description {
                    p {
                        margin-block-end: 1rem;
                    }
                }

                .aside-buy-link {
                    display: block;
                    padding: 1rem;
                    max-width: fit-content;
                    margin: auto;
                    text-decoration: none;
                    background-color: colors.$primary-color;
                    color: colors.$black;
                    font-weight: 500;
                    border-radius: 10px;
                }
            }
        }
    </style>

    <div class="container">
        <img src={sachaJergonImg} alt="Galletas de Sacha Jergon" />

        <div class="text">
            <h1 class="product-title">Galletas Sacha Jergón</h1>

            <span class="product-price-title">s/. 9.99</span>

            <h2 class="product-about-title">Sobre este artículo</h2>

            <section class="product-about-description">
                <p>
                    ¿Qué hace a nuestras galletas tan especiales? El Sacha
                    Jergón, una planta amazónica llena de propiedades
                    saludables, es el ingrediente estrella. Estas galletas son
                    una fuente natural de energía, proporcionándote el impulso
                    necesario para afrontar tu día.
                </p>
                <p>
                    Además, el Sacha Jergón contiene antioxidantes poderosos que
                    ayudan a fortalecer tu sistema inmunológico y proteger tu
                    cuerpo contra los radicales libres. ¡Una manera deliciosa de
                    cuidar de ti mismo!
                </p>
            </section>

            <div class="buttons">
                <a class="button button-add-cart" href="#">
                    Agregar al carrito
                </a>

                <a class="button button-buy-now" href="#">Comprar ahora</a>
            </div>
        </div>

        <aside>
            <h3 class="aside-status-title">Estado: En stock</h3>

            <section class="aside-description">
                <p>
                    Enviós a todas las partes del Perú. Los envíos locales son
                    gratuitos.
                </p>
            </section>

            <a class="aside-buy-link" href="#">Comprar ahora</a>
        </aside>
    </div>
</Layout>
