$ghost-green: hsl(103, 100%, 94%);
$logotype-footer: hsl(112, 80%, 80%);
$primary-color: hsl(104, 71%, 82%);
$logotype: hsl(104, 29%, 55%);
$logotype-copyright: hsl(266, 15%, 70%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 15%);
$white: hsl(0, 0%, 100%);
$ghost-white: hsl(0, 0%, 95%);
$color-100: hsl(286, 100%, 63%);
