$system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$logotype: "Poppins", $system;

// + 0.5rem
$size-1: 1rem;
$size-2: 1.25rem;
$size-3: 1.5rem;
$size-4: 1.75rem;
$size-5: 2rem;
$size-6: 2.25rem;
$size-7: 2.5rem;
$size-8: 2.75rem;
$size-9: 3rem;
$size-10: 3.25rem;
$size-11: 3.5rem;
$size-12: 3.75rem;
$size-13: 4rem;
$size-14: 4.25rem;
$size-15: 4.5rem;
$size-16: 4.75rem;
$size-17: 5rem;
$size-18: 5.25rem;
$size-19: 5.5rem;
$size-20: 5.75rem;
