<style lang="scss">
    @use '../styles/variables/colors';
    .info {
        width: 600px;
        height: 300px;

        h2 {
            font-size: 36px;
            font-weight: 500;
            margin-block-end: 30px;
        }

        p {
            font-size: 16px;
            color: hsla(0, 0, 0%, 60%);
            margin-block-end: 30px;
        }

        a {

        }
    }
</style>
<section>
    <div class="info">
        <h2>Galletas de Sacha Jerg贸n</h2>
        <p>Descubre las Galletas Sacha Jerg贸n, son saludables, delicosas y tienen beneficios a la salud. Elaborado con ingredientes seleccionados y sin aditivos artificiales, estas galletas contienen el poderoso extracto de Sacha Jerg贸n, conocido por estimular el sistema inmunol贸gico, actuar como antiviral y anticancerigeno.</p>
        <a href="#">
            <p>Comprar</p>
            <img src="" alt="">
        </a>
    </div>
    <div class="image"></div>
</section>