---
// assets
import cartIcon from "../assets/cart-icon.svg";
---

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";

    header {
        height: 80px;

        .navigation {
            width: metrics.$container-max-width;
            margin: auto;
            display: flex;
            height: inherit;
            align-items: center;
            justify-content: space-between;

            .hamburguer-menu {
                display: none;
            }

            .logo {
                font-size: 24px;
                font-weight: 500;
                text-decoration: none;
                color: colors.$logotype;
            }

            nav {
                font-size: 16px;
                ul {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-inline: 0.6rem;

                        a,
                        a:visited {
                            color: colors.$black;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }

            .icons {
                display: flex;
                align-items: center;

                a {
                    text-transform: uppercase;
                    color: colors.$black;
                }

                .icon-cart {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-inline: 0.6rem;
                    cursor: pointer;
                    height: 47px;

                    a {
                        text-decoration: none;
                    }

                    img {
                        margin-block-end: 5px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        header {
            overflow-x: hidden;

            .navigation {
                nav {
                    display: none;
                }

                .hamburguer-menu {
                    justify-self: flex-end;
                    display: block;
                }
            }
        }
    }
</style>

<header>
    <div class="navigation">
        <a class="logo" href="/">Sachamama</a>

        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/ver-producto">Producto</a>
                </li>
                <li>
                    <a href="#">Conocenos</a>
                </li>
            </ul>
        </nav>

        <div class="hamburguer-menu">
            <a href="#">Menu hamburguesa</a>
        </div>

        <div class="icons">
            <span class="icon-cart">
                <img src={cartIcon} alt="" />
                <a href="/carrito">Carrito</a>
            </span>
        </div>
    </div>
</header>
