<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";
    @use "../styles/variables/typography";

    section {
        background-image: url("/fondo_hero.png");
        background-position: center;
        background-size: cover;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 8rem 0;

        div {
            max-width: metrics.$container-max-width;

            h1 {
                font-size: typography.$size-6;
                color: colors.$white;
                text-transform: uppercase;
                margin-block-end: 2rem;
            }

            p {
                color: colors.$white;
                font-size: typography.$size-3;
                margin-block-end: 2rem;
            }

            a {
                display: block;
                width: fit-content;
                padding: 0.75em 2em;
                margin: auto;
                text-decoration: none;
                background-color: colors.$primary-color;
                border-radius: 2rem;
                font-weight: 500;
                color: colors.$black;
                font-size: typography.$size-2;
            }
        }
    }
</style>

<section>
    <div>
        <h1>Galletas naturales de la amazonia</h1>
        <p>
            Descubre nuestras deliciosas galletas de Sacha Jergón <br />
            Un dulce bocado de la amazonia.
        </p>
        <a href="/ver-producto">Comprar</a>
    </div>
</section>
