
<style lang="scss">

    h1 {

    }
        font-size: 2.5rem
        font-weight: 700
        margin-bottom: 1rem

    p{
        font-size: 1.5rem
        font-weight: 400
        margin-bottom: 1rem
    }


</style>
<div class="container">
    <div>
        <h1>Visión</h1>
        <p>Descripción</p>
    </div>

    <div>
        <h1>Misión</h1>
        <p>Descripción</p>
    </div>

    <div>
        <h1>Valores</h1>
        <p>Descripción</p>
    </div>
</div>