---
interface Props {
    title?: string;
}

const { title = "Document" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <style is:global>
            *,
            *::before,
            *::after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            html {
                font-family: "Asap", system-ui, sans-serif;
            }
        </style>
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
